.container {
	width: 1280px;
	margin: 0 auto;
}
.bg-img {
	background-image: url('../images/img.png');
	height: 1000px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.name {
	font-size: 28px;
	padding: 51px 0 0 70px;
	color: white;
}
.navbar-li {
	display: flex;
	justify-content: flex-end;
	padding-right: 100px;
}
.lists {
	padding: 0 50px 0 20px;
	color: white;
}
.title{
	font-size: 100px;
	color: white;
	position: absolute;
	left: 50%;
	bottom: 60%;
	transform: translate(-50%, -60%);
}
.click {
	position: absolute;
	left: 48%;
	right: 42%;
	transform: translate(-48%, -42%);
	padding-top: 800px;
	width: 307px;
}
.button {
	width: 307px;
	height: 72px;
	font-size: 18px;
	color: white;
	background-color: #325DFF;
	border-radius: 36px;
}
/*sectoion*/
.parent {
	display: flex;
	justify-content: flex-start;
}
.first {
	height: 600px;
	width: 50%;
	margin: 90px 0 0 50px;
}
.second {
	background-image: url('../images/img2.PNG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 600px;
	width: 50%;
}
.minititle {
	width: 468px;
	font-size: 50px;
}
.text {
	width: 450px;
	font-size: 20px;
	padding-top: 20px;
}
.click1 {
	padding-top: 70px;
}
/*section2*/
.third {
	background-color: #FAFAFA;
	height: 1160px;
	margin-top: -90px;
}
.resolution {
	width: 1170px;
	margin: 0 auto;
}
.lasttext {
	text-align: center;
	font-size: 35px;
	padding-top: 77px;
}
.lasttext1 {
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
}
.lasttext1:last-child {
	padding-top: 3px;
}
.box {
	display: flex;
	justify-content: space-between;
	padding-top: 62px;
}
.insidebox {
	width: 370px;
	height: 370px;
	background-color: #FFFFFF;
	border: 0.5px solid #CECECE ;
}
.umbrella {
	width: 32px;
	height: 32px;
	background-color: red;
}